body{
background-color: white;
margin:0;
}
img{
height:700px;
width:1520px;
position:relative;

}
div{
text-align:center;
position:relative;
bottom:500px;
}

h1{
font-family:fantasy;
margin-bottom:10%;
font-size:70px;
position:relative;
bottom:90px;
color:blue;


}
.hii{
position:relative;
right:680px;
}

.hello{
position:relative;
right:690px;
}

.how{
height:200;
width:200;
position:relative;
margin-left:60px;
}

.hiii{
height:200;
width:200;
position:relative;
left:30px;
border-radius:50%;
}

h2{
text-align:center;
position:relative;
bottom:220px;
}
hr{
border-style:none;
border-top-style:dotted;
border-width:10px;
width:20%;
border-color:red;
}

.he{
text-align:center;
position:relative;
bottom:200px;
}

.hee{
text-align:center;
position:relative;
bottom:200px;
text-decoration:underline;
}

.hw{
position:relative;
bottom:100px;
}
.w{
height:250px;
width:250px;
top:50px;
right:10px;
display:inline-block;
border-radius:50%;
color:white;
}

.ww{
height:250px;
width:250px;
top:50px;
display:inline-block;
border-radius:50%;
}

.www{
height:250px;
width:250px;
top:50px;
left:10px;
display:inline-block;
border-radius:50%;
}
.w img{
width:150px;
height:150px;
position:absolute;
top:50px;
left:50px;
}
.ww img{
width:220px;
height:220px;
position:absolute;
top:15px;
left:15px;
}
.www img{
width:150px;
height:150px;
position:absolute;
top:50px;
left:50px;
}
.w:hover{
background-color:black;
transition:5s;
}
.ww:hover{
background-color:red;
transition:5s;
}
.www:hover{
background-color:00FF00;
transition:5s;
}
body:hover{
background-image:linear-gradient(orange 50%,khaki)
}
.t{
top:50px;
}

.y{
position:relative;
top:50px;
right:200px;
}

.yi{
position:relative;
top:50px;
}

.yt{
position:relative;
top:50px;
left:200px;
}















